<%# render 'giornate' %>
<br /><br /><br />
<div class="classifica table_ranking">
 	 	<table class="table table-condensed">
 	 	  <caption>
 	 	  	<h4>Classifica Campionato <%= @year %> / <%= (@year.to_i + 1).to_s %>:</h4>
 	 	  	<span class="data">Aggiornata al: <%= @placement.first.created_at.strftime("%d-%m-%Y") %> </span>
 	 	  </caption>
		  <thead>
		    <tr>
		      <th>Pos.</th>
		      <th>Squadra</th>
		      <th>G.</th>
		      <th>Pt.</th>
		      <th class="hidden-phone">Vinte</th>
		      <th class="hidden-phone">Perse</th>
		      <th class="hidden-phone">Neutre</th>
		      <th class="hidden-phone">Pt. Fatti</th>
		      <th class="hidden-phone">Pt. Subiti</th>
		      <th class="hidden-phone">Mete</th>
		      <th class="hidden-phone">Diff. Pt.</th>
		    </tr>
		  </thead>
		  <tbody>
		   	<% @placement.each_with_index do |p,i| %>
			    <tr>
			      <td class="table_cell_centered"><%= i+1 %></td>
			      <td class="table_cell_centered"><%= p.name %></td>
			      <td class="table_cell_centered"><%= p.games %></td>
			      <td class="table_cell_centered"><%= p.point %></td>
			      <td class="hidden-phone table_cell_centered"><%= p.win %></td>
			      <td class="hidden-phone table_cell_centered"><%= p.lose %></td>
			      <td class="hidden-phone table_cell_centered"><%= p.tie %></td>
			      <td class="hidden-phone table_cell_centered"><%= p.point_made %></td>
			      <td class="hidden-phone table_cell_centered"><%= p.point_given %></td>
			      <td class="hidden-phone table_cell_centered"><%= p.try %></td>
			      <td class="hidden-phone table_cell_centered"><%= p.point_made - p.point_given%></td>
			    </tr>
			<% end %>
		  </tbody>
		</table>
 	 </div>