<%# render 'giornate' %>
<br /><br /><br />
<div class="classifica principale">
 	 	<table class="table table-condensed">
 	 	  <caption>
 	 	  	<h4>Classifica Campionato C2:</h4>
 	 	  	<span class="data">Aggiornata al: <%= @placement.first.created_at.strftime("%d-%m-%Y") %> </span>
 	 	  </caption>
		  <thead>
		    <tr>
		      <th>Pos.</th>
		      <th>Squadra</th>
		      <th>G.</th>
		      <th>Pt.</th>
		      <th>Vinte</th>
		      <th>Perse</th>
		      <th>Neutre</th>
		      <th>Pt. Fatti</th>
		      <th>Pt. Subiti</th>
		      <th>Mete</th>
		      <th>Diff. Pt.</th>
		    </tr>
		  </thead>
		  <tbody>
		   	<% @placement.each_with_index do |p,i| %>
			    <tr>
			      <td><%= i+1 %></td>
			      <td><%= p.name %></td>
			      <td><%= p.games %></td>
			      <td><%= p.point %></td>
			      <td><%= p.win %></td>
			      <td><%= p.lose %></td>
			      <td><%= p.tie %></td>
			      <td><%= p.point_made %></td>
			      <td><%= p.point_given %></td>
			      <td><%= p.try %></td>
			      <td><%= p.point_made - p.point_given%></td>
			    </tr>
			<% end %>
		  </tbody>
		</table>
 	 </div>