<div class="calendario principale">
	<div id="0" class="giornata principale attivo">
	 	<div class="offset2 span8 center">
			<%= link_to '<i class="icon-arrow-left"></i>'.html_safe, controller: :welcome, action: :left, :remote => true %>
			<h7>Giornata 1</h7>	
			<%= link_to '<i class="icon-arrow-right"></i>'.html_safe, controller: :welcome, action: :right, :remote => true %>
		</div>
		<div class="offset2 span8 data">
			<center>Giocata 12.07.13</center>
		</div>
		<br /><br />
		<div class="scontro row center">
			<div class="span5 offset2 squadra">
				<%= image_tag("logo.png")%>
			</div>
			<div class="span5 squadra">
				<%= image_tag("stemmaw.png")%>
			</div>
		</div>
		<div class="center">
			<div class="span5 squadra">
				<strong>Cedroni Rugby</strong>
			</div>
			<div class="span2"><strong>VS</strong></div>
			<div class="span5 squadra">
				<strong>Squadra W Rugby</strong>
			</div>
		</div>
		<div class="offset2 span8">
			<center><strong>23 - 13</strong></center>
		</div>
	</div>
	<div id="1" class="giornata principale invisibile">
		<div class="offset2 span8 center">
			<%= link_to '<i class="icon-arrow-left"></i>'.html_safe, controller: :welcome, action: :left, :remote => true %>
			<h7>Giornata 2</h7>	
			<%= link_to '<i class="icon-arrow-right"></i>'.html_safe, controller: :welcome, action: :right, :remote => true %>
		</div>
		<div class="offset2 span8 data">
			<center>Giocata 26.07.13</center>
		</div>
		<br /><br />
		<div class="scontro row center">
			<div class="span5 offset2 squadra">
				<%= image_tag("logo.png")%>
			</div>
			<div class="span5 squadra">
				<%= image_tag("squadraa.jpg")%>
			</div>
		</div>
		<div class="center">
			<div class="span5 squadra">
				<strong>Cedroni Rugby</strong>
			</div>
			<div class="span2"><strong>VS</strong></div>
			<div class="span5 squadra">
				<strong>SquadraA Rugby</strong>
			</div>
		</div>
		<div class="offset2 span8">
			<center><strong>5 - 0</strong></center>
		</div>
	</div>
	<div id="2" class="giornata principale invisibile">
		<div class="offset2 span8 center">
			<%= link_to '<i class="icon-arrow-left"></i>'.html_safe, controller: :welcome, action: :left, :remote => true %>
			<h7>Giornata 3</h7>	
			<%= link_to '<i class="icon-arrow-right"></i>'.html_safe, controller: :welcome, action: :right, :remote => true %>
		</div>
		<div class="offset2 span8 data">
			<center>Da giocare 15.10.13</center>
		</div>
		<br /><br />
		<div class="scontro row center">
			<div class="span5 offset2 squadra">
				<%= image_tag("squadrab.jpg")%>
			</div>
			<div class="span5 squadra">
				<%= image_tag("logo.png")%>
			</div>
		</div>
		<div class="center">
			<div class="span5 squadra">
				<strong>Squadra B Rugby</strong>
			</div>
			<div class="span2"><strong>VS</strong></div>
			<div class="span5 squadra">
				<strong>Cedroni Rugby</strong>
			</div>
		</div>
	</div>
</div>
<br /><br /><br />