<div class="post-header">
	<h2>Archivio News:</h2>
</div>
 <% if @all_news.count == 0 %>
	<div class="alert alert-error principale">
      <h2><strong><center>Non sono presenti news!</center></strong></h2>
    </div>
 <% else %>
	<%@all_news.each do |n| %>
		<div class="post-header">
			<span class="data"><%=n.created_at.strftime("%Y-%m-%d") %></span>
			&nbsp
			<%= link_to controller: :news, action: :show, :news_id => n.id do %>
				<span class="titolo"><%= n.title %></span>
			<%end%>
			<span>
				<%= link_to "Edit", controller: :news, action: :edit , :news_id => n.id %>
				<%= link_to "Delete", controller: :news, action: :delete , :news_id => n.id %>
			</span>
		</div>
	<% end %>
 <% end %>
<br /><br />
<%= link_to "Nuova News", controller: :news, action: :new %>
<hr>
<p>Albums:</p>
	<% @all_album.each do |a| %>
		<%= link_to controller: :albums, action: :show_admin, :album_id => a.id do %>
				<span class="titolo"><%= a.title %></span>
		<%end%>
		<%= link_to "Delete", controller: :albums, action: :delete , :album_id => a.id %>
		<br />
	<% end %>
<%= link_to "Nuovo Album", controller: :albums, action: :new %>