<div class="row-fluid">
	<div class="margine-lati">
		<div class="carouselcontainer personalizeCarousel">
			<div id="myCarousel" class="carousel slide">
	  		<ol class="carousel-indicators">
	    		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    		<li data-target="#myCarousel" data-slide-to="1"></li>
	    		<li data-target="#myCarousel" data-slide-to="2"></li>
	  		</ol>
	  		<!-- Carousel items -->
	  		<div class="carousel-inner">
	    		<div class="active item indexCarousel">
	    			<%=image_tag("tuta.jpg")%>
	    		</div>
	    		<div class="item indexCarousel">
	    			<%=image_tag("haka.jpg")%>
	    		</div>
	    		<div class="item indexCarousel">
	    			<%=image_tag("divisa.jpg")%>
	    		</div>
	    		<div class="item indexCarousel">
	    			<%=image_tag("new_carousel222.jpg")%>
	    		</div>
	    		<div class="item indexCarousel">
	    			<%=image_tag("new_carousel333.jpg")%>
	    		</div>
	  		</div>
	  		<!-- Carousel nav -->
	  		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	  		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="row-fluid">
 <div id="news_container" class="span8">
	<% @all_news.each do |n|%>
		<div class="notizia margine">
			<% if n.image_url.empty? == false %>
				<div class="row-fluid textimage">			
					<div class="imageContainer">
						<img src="<%= n.image_url %>" >
					</div>
					<div class="testonews">
						<div class="post-header">
							<!--<span class="data"><%=n.created_at.strftime("%Y-%m-%d") %></span>
							&nbsp-->
							<%= link_to controller: :news, action: :show, :news_id => n.id do %>
								<span class="titolo colored-link"><%= n.title %></span>
							<%end%>
						</div>
						<div class="news_text post-header">
							<%= truncate(n.body, :length => 1400).html_safe %>
							<% if n.body.length > 1400 %>
								<%= link_to controller: :news, action: :show, :news_id => n.id do %>
									(continua)
								<%end%>
							<%end%>
						</div>
					</div>
					<div class=”clearer”> </div>
				</div>
			<%else%>
				<div class="row-fluid">
					<div class="span12">
						<div class="testonews">
						<div class="post-header">
							<span class="data"><%=n.created_at.strftime("%Y-%m-%d") %></span>
							&nbsp
							<%= link_to controller: :news, action: :show, :news_id => n.id do %>
							<span class="titolo colored-link"><%= n.title %></span>
							<%end%>
						</div>
						<div class="news_text post-header">
							<%= truncate(n.body, :length => 1400).html_safe %>
							<% if n.body.length > 1400 %>
								<%= link_to controller: :news, action: :show, :news_id => n.id do %>
								(continua)
								<%end%>
							<% end %>
						</div>
					</div>
					<div class=”clearer”> </div>
					</div>
				</div>
			<%end%>
		</div>
	<% end %>
	<% if @all_news.length >= @max_news_onindex %>
		<%= link_to controller: :news, action: :archive do %>
			<div class="row-fluid">
				<div class="offset4 span4">
					<span class="titolo colored-link">Notizie precedenti</span>
				</div>
			</div>
		<%end%>
	<%end%>
 </div>
 <div class="span4">
 	<div class="laterale">
 	 <!--<div class="mipiace">
 		<br /><br />
 		<h5>Seguici anche su Facebook:</h5>
 		<div class="fb-like" data-href="https://www.facebook.com/pages/Rugby-Cedroni/192585904157831?fref=ts" data-send="false" data-width="100%" data-show-faces="true" data-font="verdana"></div>
 	 </div><br /><br /><br />-->
 	 <br /><br /><br />
 	 <div class="sponsor">
 	 	<h5>Un ringraziamento particolare ai nostri sponsor:</h5>
        <%= image_tag("logo-cassarurale.jpg")%>
        <br /><br /><br />
        <%= image_tag("logo-cassarurale2.jpg")%>
        <br /><br /><br />
        <%= image_tag("logo-wolf.jpg")%>
        <br /><br /><br />
        <%= image_tag("logo-diga.jpg")%>
        <br /><br /><br />
        <%= image_tag("palestra.png")%>
        <br /><br /><br />
        <%= image_tag("logo-straudi.gif")%>
        <br /><br /><br />
		<%= image_tag("logo-romeno.jpg")%>
        <br /><br /><br />
        <%= image_tag("logo-saurini.JPEG")%>
        <br /><br /><br />
        <%= image_tag("logo-kofler.jpg")%>
        <br /><br /><br />
        <%= image_tag("rita_battistia.png")%>
  	 </div>
 	</div>
 </div>
</div>