<div class="row-fluid">
	<div class="margine-lati">
		<div id="myCarousel" class="carousel slide">
	  		<ol class="carousel-indicators">
	    		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    		<li data-target="#myCarousel" data-slide-to="1"></li>
	    		<li data-target="#myCarousel" data-slide-to="2"></li>
	  		</ol>
	  		<!-- Carousel items -->
	  		<div class="carousel-inner">
	    		<div class="active item indexCarousel">
	    			<%=image_tag("carousel1.jpg")%>
	    			<div class="carousel-caption">
	    				<h4>Squadra Maschile</h4>
	    				<p>Foto Cedroni Rugby dopo la prima amichevole</p>
	    			</div>
	    		</div>
	    		<div class="item indexCarousel">
	    			<%=image_tag("carousel3.jpg")%>
	    			<div class="carousel-caption">
	    				<h4>Squadra Femminile</h4>
	    				<p>Foto ragazze della cedroni femminile e lagaria rugby femminile</p>
	    			</div>
	    		</div>
	  		</div>
	  		<!-- Carousel nav -->
	  		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	  		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
	</div>
</div>
<hr>
<div class="row-fluid">
 <div class="span8">
	<% @all_news.each do |n|%>
		<div class="notizia margine">
			<% if n.image_url.empty? == false %>
				<div class="row-fluid textimage">			
					<div class="imageContainer">
						<img src="<%= n.image_url %>" >
					</div>
					<div class="testonews">
						<div class="post-header">
							<span class="data"><%=n.created_at.strftime("%Y-%m-%d") %></span>
							&nbsp
							<%= link_to controller: :news, action: :show, :news_id => n.id do %>
								<span class="titolo colored-link"><%= n.title %></span>
							<%end%>
						</div>
						<p><%= n.body %></p>
					</div>
					<div class=”clearer”> </div>
				</div>
			<%else%>
				<div class="row-fluid">
					<div class="span12">
						<div class="testonews">
						<div class="post-header">
							<span class="data"><%=n.created_at.strftime("%Y-%m-%d") %></span>
							&nbsp
							<%= link_to controller: :news, action: :show, :news_id => n.id do %>
							<span class="titolo colored-link"><%= n.title %></span>
							<%end%>
						</div>
						<p><%= n.body %></p>
					</div>
					<div class=”clearer”> </div>
					</div>
				</div>
			<%end%>
		</div>
	<% end %>
 </div>
 <div class="span4">
 	<div class="laterale">
 	 <!--<div class="mipiace">
 		<br /><br />
 		<h5>Seguici anche su Facebook:</h5>
 		<div class="fb-like" data-href="https://www.facebook.com/pages/Rugby-Cedroni/192585904157831?fref=ts" data-send="false" data-width="100%" data-show-faces="true" data-font="verdana"></div>
 	 </div><br /><br /><br />-->
 	 <%= render 'classifica' %>
 	 <br /><br /><br />
 	 <div class="sponsor">
 	 	<h5>Un ringraziamento particolare ai nostri sponsor:</h5>
        <%= image_tag("logo-cassarurale.jpg")%>
        <br /><br /><br />
        <%= image_tag("logo-cassarurale2.jpg")%>
        <br /><br /><br />
        <%= image_tag("logo-wolf.jpg")%>
        <br /><br /><br />
        <%= image_tag("logo-diga.jpg")%>
        <br /><br /><br />
        <%= image_tag("logo-straudi.gif")%>
        <br /><br /><br />
		<%= image_tag("logo-romeno.jpg")%>
        <br /><br /><br />
        <%= image_tag("logo-saurini.JPEG")%>
        <br /><br /><br />
        <%= image_tag("logo-kofler.jpg")%>
  	 </div>
 	</div>
 </div>
</div>