<div class="well">
<%= form_for :news, url: {controller: :news, action: :create} do |f| %>
  <%= f.text_field :title, placeholder: "Title.." %><br />
  <%= f.text_field :image_url,:placeholder => "Image Url.."%>
  <%= f.text_area :body, placeholder: "Text..", cols:700, rows:10 %><br />
  Argomento: <%= f.select :topic, options_for_select(["Maschile","Femminile","Societa"])%><br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>