<div class="row-fluid">
 <div class="span10">
  <div class="principale">
	<div class="post-header">
		<h2>Archivio News <%= @year %>:</h2>
	</div>
		<% if @topic.nil? %>
			<%= render 'all' %>
		<% elsif @topic == "Maschile" %>
			<%= render 'maschile' %>
		<% elsif @topic == "Femminile" %>
			<%= render 'femminile' %>
		<% else %>
			<%= render 'societa' %>
		<% end %>
		<br /><br />
  </div>
 </div>
 <div class="span2">
 	<h5>Filtra news:</h5>
 	<%= link_to controller: :news, action: :archive do%>
 		<div class="colored-link"><p>Tutte(<%= @all_news.count %>)</p></div>
 	<% end %>
 	<%= link_to controller: :news, action: :archive, :topic => "Maschile" do%>
 		<div class="colored-link"><p>Maschile(<%= @news_maschile.count %>)</p></div>
 	<% end %>
 	<%= link_to controller: :news, action: :archive, :topic => "Femminile" do%>
 		<div class="colored-link"><p>Femminile(<%= @news_femminile.count %>)</p></div>
 	<% end %>
 	<%= link_to controller: :news, action: :archive , :topic => "Societa" do%>
 		<div class="colored-link"><p>Societa(<%= @news_societa.count %>)</p></div>
 	<% end %>
 	<br>
 	<h5>Anni precedenti:</h5>
 	<%= link_to controller: :news, action: :archive, year: 2013 do%>
 		<div class="colored-link"><p>News 2013-2014</p></div>
 	<%end%>
 </div>
</div>