<div class="row-fluid">
 <div class="span10">
  <div class="principale">
	<div class="post-header">
		<h2>Archivio News:</h2>
	</div>
	<% if @all_news.count > 0 %>
		<% if @topic.nil? %>
			<%= render 'all' %>
		<% elsif @topic == "Maschile" %>
			<%= render 'maschile' %>
		<% elsif @topic == "Femminile" %>
			<%= render 'femminile' %>
		<% else %>
			<%= render 'societa' %>
		<% end %>
		<br /><br />
	<% end %>
  </div>
 </div>
 <div class="span2">
 	<h5>Filtra news:</h5>
 	<%= link_to controller: :news, action: :archive do%>
 		<p>Tutte(<%= @all_news.count %>)</p>
 	<% end %>
 	<%= link_to controller: :news, action: :archive, :topic => "Maschile" do%>
 		<p>Maschile(<%= @news_maschile.count %>)</p>
 	<% end %>
 	<%= link_to controller: :news, action: :archive, :topic => "Femminile" do%>
 		<p>Femminile(<%= @news_femminile.count %>)</p>
 	<% end %>
 	<%= link_to controller: :news, action: :archive , :topic => "Societa" do%>
 		<p>Societa(<%= @news_societa.count %>)</p>
 	<% end %>
 </div>
</div>