<div class="notizia margine">
	<% if @news.image_url.empty? == false %>
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="<%= @news.image_url %>" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="data"><%=@news.created_at.strftime("%Y-%m-%d") %></span>
					&nbsp
					<span class="titolo"><%= @news.title %></span>
				</div>
				<p><%= @news.body %></p>
			</div>
			<div class=”clearer”> </div>
		</div>
	<%else%>
		<div class="row-fluid">
			<div class="span12">
				<div class="post-header">
					<span class="data"><%=@news.created_at.strftime("%Y-%m-%d") %></span>
					&nbsp
					<span class="titolo"><%= @news.title %></span>
					<p><%= @news.body %></p>
				</div>
			</div>
		</div>
	<%end%>
</div>