<div class="notizia margine">
	<% if @news.image_url.empty? == false %>
		<div class="row-fluid textimage">			
			<div class="imageContainer">
				<img src="<%= @news.image_url %>" >
			</div>
			<div class="testonews">
				<div class="post-header">
					<span class="data"><%=@news.created_at.strftime("%Y-%m-%d") %></span>
					&nbsp
					<span class="titolo"><%= @news.title %></span>
				</div>
				<p><%= @news.body %></p>
				<a href="#" 
					  onclick="
					    window.open(
					      'https://www.facebook.com/sharer/sharer.php?u=http://cedronirugby.herokuapp.com<%= news_path(id: @news.id) %>'+encodeURIComponent(location.href), 
					      'facebook-share-dialog', 
					      'width=626,height=436'); 
					    return false;">
					  Share on Facebook
					</a>
			</div>
			<div class=”clearer”> </div>
		</div>
	<%else%>
		<div class="row-fluid">
			<div class="span12">
				<div class="prev">
					<%= @news.body %>
					<a href="#" 
					  onclick="
					    window.open(
					      'https://www.facebook.com/sharer/sharer.php?u=http://cedronirugby.herokuapp.com<%= news_path(id: @news.id) %>'+encodeURIComponent(location.href), 
					      'facebook-share-dialog', 
					      'width=626,height=436'); 
					    return false;">
					  Share on Facebook
					</a>
				</div>
			</div>
		</div>
	<%end%>
</div>