<h2><%=@album.title%></h2>
<h5><%=@album.description%></h5>
<% @album.photos.each do |p| %>
	<div class="mini-immagine">
		<img src="<%= p.image_url%>">
		<p><%= p.title %></p>
	<div>
<% end %>
<p><%= link_to "Aggiungi photo", controller: :photos, action: :new, :album_id => @album.id %></p>
<p><%= link_to "Admin", controller: :welcome, action: :admin %></p>