<div class="post-header">
	<h4><%=@album.title%></h4>
	<h6><%=@album.description%></h6>
	<% @album.photos.each do |p| %>
		<div class="mini-immagine">
			<img src="<%= p.image_url%>">
			<p><%= p.title %></p>
			<%= link_to "Delete", controller: :photos, action: :delete, :photos_id => p.id %>
		<div>
	<% end %>
	<span class="btn"><%= link_to "Add Image", controller: :photos, action: :new, :album_id => @album.id %></span>
	<span class="btn"><%= link_to 'Back', controller: :welcome, action: :admin %></span>
<div>
