<div class="well">
	<h1>Edit Team</h1>
	<%= form_for :team, url: {controller: :team, action: :edit_confirm, :team_id => @team.id} do |f| %>
	  <p>Nome squadra:  <%= f.text_field :name, placeholder: "Nome.." %></p>
	  <p>Punti:  <%= f.text_field :point, placeholder: "Punti.." %></p>
	  <p>Giornate:  <%= f.text_field :games, placeholder: "Giornate.." %></p>
	  <p>Vinte:  <%= f.text_field :win, placeholder: "Vinte.." %></p>
	  <p>Perse:  <%= f.text_field :lose, placeholder: "Perse.." %></p>
	  <p>Neutre:  <%= f.text_field :tie, placeholder: "Neutre.." %></p>
	  <p>Punti Fatti:  <%= f.text_field :point_made, placeholder: "Punti fatti.." %></p>
	  <p>Punti Subiti:  <%= f.text_field :point_given, placeholder: "Punti subiti.." %></p>
	  <p>Mete:  <%= f.text_field :try, placeholder: "Mete.." %></p>
	  <div class="actions">
	    <%= f.submit 'Save Team', :class => 'btn btn-success'%>
		<div class="btn"><%= link_to 'Back', controller: :welcome, action: :admin %></div>
	  </div>
	<% end %>
</div>