<div class="well">
	<h4>Crea Squadra:</h4>

	<%= form_for :team, url: {controller: :team, action: :create} do |f| %>
	  <p>Nome squadra:  <%= f.text_field :name, placeholder: "Nome.." %></p>
	  <p>Punti:  <%= f.number_field :point, placeholder: "Punti..", min: 0, max: 999 %></p>
	  <p>Giornate:  <%= f.number_field :games, placeholder: "Giornate..", min: 0, max: 999 %></p>
	  <p>Vinte:  <%= f.number_field :win, placeholder: "Vinte..", min: 0, max: 999 %></p>
	  <p>Perse:  <%= f.number_field :lose, placeholder: "Perse..", min: 0, max: 999 %></p>
	  <p>Neutre:  <%= f.number_field :tie, placeholder: "Neutre..", min: 0, max: 999 %></p>
	  <p>Punti Fatti:  <%= f.number_field :point_made, placeholder: "Punti fatti..", min: 0, max: 9999 %></p>
	  <p>Punti Subiti:  <%= f.number_field :point_given, placeholder: "Punti subiti..", min: 0, max: 9999 %></p>
	  <p>Mete:  <%= f.number_field :try, placeholder: "Mete..", min: 0, max: 9999 %></p>
  	  <p>Anno: <%= f.select :year, options_for_select(["2015","2014","2013"])%></p>
	  <div class="actions">
	    <%= f.submit 'Save Team', :class => 'btn btn-success'%>
		<div class="btn"><%= link_to 'Back', controller: :welcome, action: :admin %></div>
	  </div>
	<% end %>
</div>